body {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* header stuff */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 10px 100px 80px;
}

.logotxt {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* block one stuff */
.block-one {
    display: flex;
    padding: 10px 100px 80px;
    background-color: #1f2937;
}

.block-one-media {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    padding-right: 14px;
}

.hero-txt {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtxt {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}

.hero-button button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 4px 16px;
    font-weight: bold;
    border-radius: 4px;

}

.block-one-img {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    color: white;
    text-align: center;
    background-color: gray;
}

/*block two stuff */
.block-two {
    text-align: center;
    padding: 10px 100px 80px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px 0;
}

.block-two-media {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    gap: 15px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}

.block-two-img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 5px;
}

/* block three stuff */
.block-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.block-three-media {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1f2937;
}

.quoted {
    align-self: flex-end;
    font-weight: bold;
    padding-top: 8px;
}

ul {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
}